<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/templates/css/styles.css">
</head>
<body>
<h1>Библиотека</h1>-->

<!--    <h1>Библиотека (<span th:text="${count}">0</span>)</h1>-->
<!--    <button id="show-add-book-form">Добавить книгу</button>-->
<!--    <br><br>-->
<!--    <div id="book-list">-->
<!--        <div th:each="book : ${books}">-->
<!--            <a href="#" class="book-link" th:attr="data-id=${book.id}" th:text="${book.name}"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p th:text="${someParameter}"></p>-->
</body>
</html>